body {
  background-color:#F5EEDC ;
  text-align: center;
}

h2{
  color: deeppink;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}