<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ARTE DELLA ASCII</title>

</head>



<link rel="stylesheet" href="/css/mystyle.css">
<h1>Here is your Ascii Art!</h1>
<pre> {{.SAscii}} </pre>

<!-- <a href="/ascii-art.txt" download>Save Ascii Art to your computer</a> -->

<!-- <button type="submit">Click Here To Download</button> -->
<form action="/download" method="POST">
    
    <!-- <a href="/ascii-art.txt" download>Save Ascii Art to your computer</a> --> -->

   
    <button onclick="location.href='/download'" type="button">Download</button>
</form> -->

</body>
</html>
